<html>
<body style="font-family:verdana, arial; background-color: #efefef; margin:0">
  <div style="font-family:verdana, arial; background-color: #efefef; width: 100%; padding-top: 50px; padding-bottom: 50px">
    <div style="background-color: #fefefe;border-radius: 8px;padding-top: 16px;padding-bottom: 16px;padding-left: 32px;padding-right:32px; max-width: 500px; margin-left: auto; margin-right: auto; margin-top: 30px">
      <h1 style="text-align: center;">Dados do lead</h1>
      <table>
        <tr>
          <td>Nome:</td>
          <td>[LEAD_NAME]</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>[LEAD_EMAIL]</td>
        </tr>
        <tr>
          <td>Celular:</td>
          <td>[LEAD_PHONE]</td>
        </tr>
        <tr>
          <td>Tipo de problema:</td>
          <td>[LEAD_PROBLEM]</td>
        </tr>
      </table>
      <div style="margin: 32px auto; width: 100%;text-align: center;">
        <a
          href="https://wa.me/[LEAD_PHONE_FORMATTED]"
          style="
            margin: auto;
            padding: 12px;
            border-radius: 5px;
            background-color: #0ebcc9;
            color: #efefef;
            font-weight: bold;
            text-decoration: none;"
          >Atender lead</a>
      </div>
    </div>
  </div>
</body>
</html>