.button {
  background-color: var(--color-terracota);
  padding: 12px 24px;
  color: var(--color-areia);
  border: none;
  font-weight: bold;
  // font-size: 0.8em;
  width: fit-content;
  cursor: pointer;
  transition: all .5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 4px 4px 15px var(--color-neutral-100-75);

    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      background-color: var(--color-neutral-1000-80);
    }
  }

  &:focus {
    animation: push-button 1s;
  }

  &::after {
    content: "";
    background: var(--color-white-800);
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }

  @keyframes push-button {
    from {
      transform: translateY(2px);
    } to {
      transform: translateY(0);
    }
  }
}