@use "../base/util" as *;

.title {
  &--1 {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 32px;
  }

  &--2 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  &--2--alt {
    font-weight: 500;

    font-size: 1.75rem;
    line-height: 48px;
  }
}

p {
  font-weight: 300;
  line-height: 24px;
}

strong,
.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: $mobile) {
  .title {
    &--1 {
    hyphens: none;
      font-size: 1.8rem;
      line-height: 48px;
    }

    &--2 {
      line-height: 48px;
      font-size: 1.75rem;
    }

    &--2--alt {
      font-size: 1rem;
      font-weight: 300;
      line-height: 24px;
    }

    &--3 {
      font-size: 1.5rem;
    }
  }
}