:root {
  --black: #000;
  --off-black: #222;
  --white: #fff;
  --off-white: #f2f2f2;
  --black-transparent: #0006;

  // --main: #101B2B;
  // --main-dark: #0a111b;

  // --second: #C79E64;
  // --second-alt: #ceb172;
  // --third: #F7EECD;
  // --third-alt: #dccb8d;

  --input-correct: #13bc37;
  --input-wrong: #f00;

  --background-color: var(--main);

  --main-font: "verdana", system-ui, sans-serif;
}