:root {
  /* Cores da marca */
  --color-main: #1e1a17;
  --color-main-90: color-mix(in srgb, var(--color-main) 90%, #0000);
  --color-main-20: color-mix(in srgb, var(--color-main) 20%, #0000);
  --color-main-light-50: #322c283c;
  --color-main-light-25: #322C287F;

  --color-terracota: #93624c;
  --color-terracota-25: color-mix(in srgb, var(--color-terracota) 25%, #0000);
  --color-terracota-35: color-mix(in srgb, var(--color-terracota) 35%, #0000);

  --color-areia: #DED4CE;
  --color-areia-10: color-mix(in srgb, var(--color-areia) 10%, #0000);

  /* Escala neutra */
  --color-neutral-1000: #f6f6f6;
  --color-neutral-1000-80: color-mix(in srgb, var(--color-neutral-1000) 80%, #0000);
  --color-neutral-500: #484542;
  --color-neutral-500-75: color-mix(in srgb, var(--color-neutral-500) 75%, #0000);
  --color-neutral-500-10: color-mix(in srgb, var(--color-neutral-500) 10%, #0000);
  --color-neutral-300-75: color-mix(in srgb, #323232 75%, #0000);
  --color-neutral-100: #131110;
  --color-neutral-100-75: color-mix(in srgb, var(--color-neutral-100) 75%, #0000);
  --color-neutral-000-25: color-mix(in srgb, #000 25%, #0000);

  /* Complementares / Componentes */
  --color-green: #00C950;
  --color-red: #f22;
  
  /* Fontes */
  --font-primary: "montserrat", system-ui, sans-serif;
  --font-secondary: var(--font-primary);
}